html, body {
    height: 100%;
    background-color: #343a40;
    color: #fff;
}
.navbar {
    background-color: #343a40;
    flex-wrap: nowrap;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/* Limit form width */
.form-width-custom {
    max-width: 600px;
    margin: auto;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ccc;
}

@media (max-width: 768px) {
    .table-responsive {
        font-size: 0.8em;
    }

    .navbar .nav-link {
        font-size: 0.8em;
        padding: 0 5px;
    }
}

.table-responsive td, .table-responsive th {
    padding: 0.25rem;
    text-align: center;
}

.table-responsive table {
    width: 100%;
    table-layout: fixed;
}

.scorecard {
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 100%; /* Adjust as needed */
    max-width: 650px;
    min-height: 650px; /* Changed from height to min-height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    position: relative;
}
.scorecard .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scorecard .header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.scorecard .hole-details {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Adjust as needed */
}

.scorecard .header-right {
    align-self: flex-start;
}

.scorecard .map {
    width: 100%;
    flex-grow: 1;
}
/* Styles for the complete scorecard */
#complete-scorecard {
    width: 100%;
    overflow-x: auto; /* adds horizontal scroll if necessary */
    border: 1px solid #000; /* black border around the scorecard */
    border-radius: 5px; /* rounded corners */
}

#complete-scorecard table {
    border-collapse: collapse; /* removes space between cells */
    text-align: left; /* left aligns the text */
}
@media (max-width: 600px) {
    #complete-scorecard td, #complete-scorecard th {
        font-size: 0.8rem; /* adjust as needed */
    }
}

#complete-scorecard th,
#complete-scorecard td {
    padding: 5px; /* space inside cells */
    border: 1px solid #000; /* black border around cells */
    font-size: 1.5vw; /* adjust as needed */
}

#complete-scorecard thead th {
    background-color: #f5f5f5; /* light grey background for headers */
}

#complete-scorecard tbody td:first-child {
    font-weight: bold; /* makes the first cell in each row bold */
}

/* makes the first two columns in the table take up less space */
#front-nine td:nth-child(-n+1),
#front-nine th:nth-child(-n+1),
#back-nine td:nth-child(-n+1),
#back-nine th:nth-child(-n+1) {
    width: 1%; 
    white-space: nowrap;
}


.course-info, .hole-map, .player-info, .controls {
    margin: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hole-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 10px;
    flex-wrap: wrap;
}

.hole-selector a {
    color: #000;
    margin: 5px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.hole-selector a:hover {
    background-color: #ccc;
    color: #343a40;
}
.holes {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    padding: 0;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #888 #fff; /* For modern browsers */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    margin-top: 20px;
}
.holes::-webkit-scrollbar { 
    display: none; /* For Chrome, Safari and Opera */
}
.holes::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

.holes::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
}

.holes::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovered */
}
.hole-button, .finish-button {
    color: #fff;
    margin: 0;
    text-decoration: none;
    border-radius: 0;
    background-color: #343a40;
    width: 80px;
    text-align: center;

}

.hole-button:hover, .finish-button:hover {
    background-color: #ccc;
    color: #343a40;
}

.hole-button.active .finish-button.active{
    background-color: #ccc;
    color: #343a40;
}

.holes .btn {
    flex: 0 0 auto;
}

/* Remove right margin for last button */
.holes .btn:last-child {
    margin-right: 0;
}
.holes-container {
    width: 100%;  /* This makes the holes-container span the entire width */
    position: absolute;  /* This positions the holes-container relative to the nearest positioned ancestor (the scorecard in this case) */
    bottom: 0;  /* This positions the holes-container at the bottom of the scorecard */
}

/* Rest of your CSS */
.container {
    height: calc(100 * var(--vh));
    justify-content: center;
    align-items: center;
}

.login-template {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-template h1 {
    margin-bottom: 2rem; /* Adjust as per your requirement */
    text-align: center;
}
@media (max-width: 600px) {
    .login-template h1 {
        font-size: 2rem; /* Adjust this value as needed */
    }
}

.social-login-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;  /* Space between buttons */
}

.social-login-buttons .btn {
    width: 200px;  /* Set a fixed width for the buttons */
    display: flex;  /* Align the text and the icon */
    align-items: center;
    justify-content: center;
}

.btn-danger {
    background-color: #DD4B39;
    border-color: #DD4B39;
}

.btn-danger:hover {
    background-color: #E74B37;
    border-color: #E74B37;
}

.btn-primary {
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-primary:hover {
    background-color: #4A69A1;
    border-color: #4A69A1;
}
.throws {
    margin-bottom: 40px;
    position: right;
    left: 20px;
    bottom: 20px;
}
.user-score-throws {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.user-score {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* If you want the username and score to be left-aligned */
    justify-content: center; /* Vertically centers the content if there's extra space */
    height: 100%;
}
/* Statistics Page */
.statistics-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.statistics-table th, .statistics-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.statistics-table th {
    background-color: #f2f2f2;
}

/* Responsive table */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Mobile view */
@media (max-width: 768px) {
    .statistics-table th, .statistics-table td {
        padding: 5px;
        font-size: 14px;
    }
}

/* Profile Page */
.profile-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 50px;
}

.profile-image {
    width: 150px; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    object-fit: cover; /* Resize the image to cover the container */
    border-radius: 50%; /* Make the image round */
}
.profile-form .form-group {
    margin-bottom: 20px;
}

/* Mobile view */
@media (max-width: 768px) {
    .profile-container {
        padding: 10px;
    }

    .profile-form {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 5px 10px;
    }
}

h1, h2, h3 {
    margin-bottom: 20px;
}

table {
    margin-bottom: 20px;
}

td, th {
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
}

table {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

tr {
    transition: background-color 0.3s;
}

tr:hover {
    background-color: #243a40;
}
.statistics-heading {
    text-align: center;
}
/* Styles for friend request emojis */
.friend-request-emoji {
    background: transparent; /* Existing style */
    border: none;           /* Existing style */
    cursor: pointer;        /* Existing style */
    font-size: 1.5em;       /* Existing style */
    margin-left: auto;      /* New style: This will push the emoji to the right */
}
/* Styles for friend request items */
.friend-request-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
/* Styles for profile pictures in friend requests */
.friend-profile-pic {
    border-radius: 50%;  /* Makes the image round */
    width: 50px;         /* Adjust width as needed */
    height: 50px;        /* Adjust height as needed */
    margin-right: 10px;  /* Space between image and text */
}
.friend-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #343a40;
    cursor: pointer; /* Makes the card clickable */
}
.friend-card .friend-header {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Vertically center the items */
}
.friend-card .dropdown-menu {
    top: 0;
    left: auto;
    right: 0;
    transform: none;
}
.friend-name {
    /* If there are any styles centering the text, remove or override them here */
    text-align: left;
}
.friend-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.friend-header .friend-dropdown {
    margin-left: auto;
}

.friend-name {
    font-weight: bold;
    font-size: 1.2em;
}

.friend-status {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 0.9em;
    color: #777;
}

.friend-last-message {
    margin-top: 10px;
}

.chat-messages {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    margin: 5px 0;
}

.chat-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.custom-file-upload, #update-button {
    width: 110px;  /* Set a fixed width */
    height: 38px;  /* Set a fixed height */
    margin: 0; 
    padding: .375rem .75rem;
    line-height: 1.5;
    vertical-align: middle;
    border: 1px solid transparent;
    box-sizing: border-box;
}

#search-bar {
    height: 38px; /* Adjust height to match the Search button */
    border-radius: .2rem; /* Optional: match border-radius with the Search button */
    margin-bottom: 20px;
}

#search-button {
    border-radius: .2rem; /* Optional: match border-radius with the Search bar */
    margin-bottom: 5px;
}
.center-text {
    text-align: center;
}
.logout-button {
    bottom: 100px;
    text-align: center;
    align-items: center;
}
.status-online {
    color: green;
}

.status-offline {
    color: red;
}
.last-seen {
    font-size: 0.9em;
    color: #888;
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.profile-card.solo-play {
    width: 70%;  /* Adjust as needed */
    margin: 0 auto;  /* Center the card */
    padding: 20%;  /* Increase padding for a larger card */
    font-size: 1.2em;  /* Increase font size for better visibility */
}
.username {
    font-size: 18px;  /* Adjust as needed */
    font-weight: bold;
    margin-bottom: 10px;  /* Spacing between the username and profile picture */
    white-space: nowrap;  /* Prevents the text from wrapping onto the next line */
    overflow: hidden;  /* Hides any overflowed content */
    text-overflow: ellipsis;  /* Adds an ellipsis (...) when the text overflows */
    max-width: 90%;  /* Adjust as needed; ensures the text doesn't stretch outside the card */
    text-align: center;  /* Centers the username */
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.current-score {
    font-weight: bold;
    color: #343a40;
}
@media (max-width: 768px) {
    .profile-card {
        padding: 10px;
    }

    .profile-picture {
        width: 80px;
        height: 80px;
    }
}
.course-hole-info-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);  /* Gradient background */
}

.course-hole-info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.course-name {
    font-size: 24px;
    background-size: contain;
}

.hole-details-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.distance, .par {
    font-weight: bold;
    color: #343a40;
}

.distance i, .par i {
    margin-right: 8px;  /* Spacing between the icon and the text */
}

