<!-- home.html -->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="starter-template form-width-custom">
            <h1>Scorecards</h1>
            {% if active_scorecard %}
            <div class="scorecard">
                <div class="course-hole-info-card">
                    <h2 class="course-name">{{ active_course.name }}</h2>
                    <div class="hole-details-row">
                        <p class="distance"><i class="fas fa-ruler"></i>Dist: {{ active_hole.distance }} m</p>
                        <h3>Hole: {{ active_hole.hole_number }}</h3>
                        <p class="par"><i class="fas fa-flag"></i>Par: {{ active_hole.par }}</p>
                    </div>
                </div>
                <div class="profile-card solo-play">
                    <div class="username">{{ user.username }}</div>
                    <img src="static/images/{{ user.profile_pic }}" alt="Profile Picture" class="profile-picture">
                    <h2>{{ user.name }}</h2>
                    <p>Score: <span id=score class="current-score">(E)</span></p>
                </div>
                <div class="user-score-throws">
                    <div class="user-score">
                    </div>
                    <div class="throws" data-scorecard-id="{{ active_scorecard.id }}" data-course-id="{{ active_scorecard.course_id }}" data-hole-number="{{ active_hole.hole_number }}">
                        <button class="btn btn-primary decrease-throw"><i class="fas fa-minus"></i></button>
                        <span id="throw-count">0</span>
                        <button class="btn btn-primary increase-throw"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div class="holes-container" id="holes-container">
                    <div class="holes">
                        {% for hole in holes %}
                        <button class="btn btn-primary hole-button {% if hole.hole_number == active_hole.hole_number %}active{% endif %}" data-hole-number="{{ hole.hole_number }}">{{ hole.hole_number }}</button>
                        {% endfor %}
                        <button id="finish-button" class="btn btn-primary finish-button">Finish</button>
                    </div>
                </div>
                <div id="complete-scorecard" style="display: none;">
                    <h2>Complete Scorecard</h2>
                    <table id="front-nine">
                        <thead>
                            <tr>
                                <th colspan="1">Front Nine</th>
                                {% for i in range(1, 10) %}
                                    <th>{{ i }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="front-dist"><td colspan="2">Dist</td></tr>
                            <tr id="front-par"><td colspan="2">Par</td></tr>
                            <tr id="front-username"><td colspan="2">{{ current_user.username }}</td></tr>
                        </tbody>
                    </table>
                    <table id="back-nine">
                        <thead>
                            <tr>
                                <th colspan="1">Back Nine</th>
                                {% for i in range(10, 19) %}
                                    <th>{{ i }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="back-dist"><td colspan="2">Dist</td></tr>
                            <tr id="back-par"><td colspan="2">Par</td></tr>
                            <tr id="back-username"><td colspan="2">{{ current_user.username }}</td></tr>
                        </tbody>
                    </table>
                    <button id="end-round-button" class="btn btn-primary">End Round</button>
                </div>
            </div>
            {% else %}
                <p>No active scorecards</p>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#selectCourseModal">Create scorecard</a>
            {% endif %}
        </div>
    </div>
    <div class="modal" id="selectCourseModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Select Course</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul id="coursesList" class="list-group">
              <!-- Courses will be added here by JavaScript -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="selectFriendsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Select Friends</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul id="friendsList" class="list-group">
              <!-- Friends will be added here by JavaScript -->
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="startGroupPlay">Start Group Play</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function getRandomGradient() {
            // Generate random RGB values
            const randomRGB = () => {
                return {
                    r: Math.floor(Math.random() * 256),
                    g: Math.floor(Math.random() * 256),
                    b: Math.floor(Math.random() * 256)
                };
            };
        
            const color1 = randomRGB();
            const color2 = randomRGB();
        
            // Create a gradient using the random RGB values
            return `linear-gradient(135deg, rgb(${color1.r}, ${color1.g}, ${color1.b}), rgb(${color2.r}, ${color2.g}, ${color2.b}))`;
        }
        function setProfileGradient() {
            $('.profile-card').each(function() {
                let gradient;
        
                // Check if a gradient cookie exists
                if ($.cookie('user_gradient')) {
                    gradient = $.cookie('user_gradient');
                } else {
                    gradient = getRandomGradient();
                    $.cookie('user_gradient', gradient, { expires: 365 });  // Store the gradient in a cookie for 1 year
                }
        
                $(this).css('background', gradient);
            });
        }
        
        $(document).ready(function() {
            setProfileGradient();
        });

        $(document).ready(function() {
            var coursesListEl = $('#coursesList');
            function loadCourses(lat, lon) {
                $.get('/available_courses', {lat: lat, lon: lon}, function(data) {
                    for (var i = 0; i < data.length; i++) {
                        var course = data[i];
                        var courseEl = $(
                            `<li class="list-group-item">${course.name}
                            <span class="badge badge-primary">${course.distance.toFixed(2)} km</span>
                            <button type="button" class="btn btn-primary select-course-solo" data-course-id="${course.id}">Solo</button>
                            <button type="button" class="btn btn-primary select-course-group" data-course-id="${course.id}">Group</button>
                            </li>`
                        );
                        coursesListEl.append(courseEl);
                    }
                });
            }
            navigator.geolocation.getCurrentPosition(function(position) {
              loadCourses(position.coords.latitude, position.coords.longitude);
            });
            $('body').on('click', '#end-round-button', function() {
                var scorecardId = $('.throws').data('scorecard-id');
                $.ajax({
                    url: '/end_round',
                    method: 'POST',
                    data: { scorecard_id: scorecardId },
                    success: function(response) {
                        if (response.result == 'success') {
                            window.location.href = '/home';
                        }
                    }
                });
            });
            $('body').on('click', '#finish-button', function() {
                if ($(this).hasClass('finish-clicked')) {
                    return;
                }
                $(this).addClass('finish-clicked');
                var scorecardId = $('.throws').data('scorecard-id');
                $.get('/get_scorecard', { scorecard_id: scorecardId }, function(data) {
                    // Clear the rows before appending new data
                    $('#front-dist').empty().append('<td>Dist</td>');
                    $('#front-par').empty().append('<td>Par</td>');
                    $('#front-username').empty().append('<td>{{ current_user.username }}</td>');
                    $('#back-dist').empty().append('<td>Dist</td>');
                    $('#back-par').empty().append('<td>Par</td>');
                    $('#back-username').empty().append('<td>{{ current_user.username }}</td>');
                    for (var i = 0; i < data.length; i++) {
                        var hole = data[i];
                        var dist = `<td>${hole.distance}</td>`;
                        var par = `<td>${hole.par}</td>`;
                        var user = `<td>${hole.throws}</td>`;
                        if (i < 9) {
                            $('#front-dist').append(dist);
                            $('#front-par').append(par);
                            $('#front-username').append(user);
                        } else {
                            $('#back-dist').append(dist);
                            $('#back-par').append(par);
                            $('#back-username').append(user);
                        }
                    }
                    // Hide all child elements of the scorecard div except holes
                    $('.scorecard').children().not('#holes-container').hide();
                    // Show the complete scorecard
                    $('#complete-scorecard').show();
                });
            });
            $('body').on('click', '.select-course-solo, .select-course-group', function() {
                var courseId = $(this).data('course-id');
                if ($(this).hasClass('select-course-solo')) {
                    // Existing logic to start solo play
                    $.ajax({
                        url: '/select_course',
                        method: 'POST',
                        data: { course_id: courseId },
                        success: function(response) {
                            if (response.result == 'success') {
                                window.location.href = '/home';
                            }
                        }
                    });
                } else if ($(this).hasClass('select-course-group')) {
                    // Hide the "Select Course" modal
                    $('#selectCourseModal').modal('hide');
                    // Show the "Select Friends" modal
                    $('#selectFriendsModal').modal('show');
                    // Optionally, store the selected course ID for later use
                    $('#selectFriendsModal').data('selected-course-id', courseId);
                }
            });
            $('body').on('click', '.increase-throw, .decrease-throw', function() {
                var count = parseInt($('#throw-count').text());
                if ($(this).hasClass('increase-throw')) {
                    count++;
                } else if (count > 0) {
                    count--;
                }
                $('#throw-count').text(count);
            
                // send updated count to server
                var scorecardId = $(this).parent().data('scorecard-id');
                var holeNumber = $('.throws').data('hole-number');  // Use the 'data-hole-number' of the '.throws' div
                console.log('Sending request with data:', {
                    scorecard_id: scorecardId,
                    hole_number: holeNumber,
                    throw_count: count,
                });
                $.ajax({
                    url: '/update_throw_count',
                    method: 'POST',
                    data: {
                        scorecard_id: scorecardId,
                        hole_number: holeNumber,
                        throw_count: count,
                    },
                    success: function(response) {
                        if(response.result === 'success'){
                            updateThrowCount();
                            updateScore();
                        }
                    }
                });
            });
            $('body').on('click', '.hole-button', function(e) {
                e.preventDefault();  // Prevent the default behavior (which is to immediately redirect)
                $('.scorecard').children().show();
                $('#complete-scorecard').hide();
                $('#finish-button').removeClass('finish-clicked');
                var activeHoleButton = $('.hole-button.active');
                if (activeHoleButton.length > 0) {
                    var count = parseInt($('#throw-count').text());
                    var scorecardId = $('.throws').data('scorecard-id');
                    var holeNumber = activeHoleButton.data('hole-number');

                    // Wait for the throw count update AJAX request to be completed
                    $.ajax({
                        url: '/update_throw_count',
                        method: 'POST',
                        data: {
                            scorecard_id: scorecardId,
                            hole_number: parseInt(holeNumber, 10),  // Convert hole number to an integer
                            throw_count: count,
                        }
                    }).done(function(response) {  // When the Ajax request is completed
                        if(response.result === 'success'){
                            changeHole(e.currentTarget);  // Change hole only after the Ajax request has completed
                        }
                    });
                } else {
                    changeHole(e.currentTarget);
                }
            });
            $('#selectFriendsModal').on('shown.bs.modal', function() {
                var friendsListEl = $('#friendsList');
                friendsListEl.empty(); // Clear the list
                $.get('/get_friends', function(data) {
                    for (var i = 0; i < data.length; i++) {
                        var friend = data[i];
                        var friendEl = $(
                            `<li class="list-group-item">
                                ${friend.username}
                                <button class="btn btn-primary send-invite" data-friend-id="${friend.id}">Send Invite</button>
                            </li>`
                        );
                        friendsListEl.append(friendEl);
                    }
                });
            });

        });
    
        function updateThrowCount() {
            var scorecardId = $('.throws').data('scorecard-id');
            var holeNumber = $('.throws').data('hole-number'); // Use 'data-hole-number' of the '.throws' div instead of URL
        
            $.get('/get_throw_count', { scorecard_id: scorecardId, hole_number: holeNumber }, function(data) {
                $('#throw-count').text(data.throw_count);
            });
        }
        updateThrowCount();
        function updateScore() {
            var scorecardId = $('.throws').data('scorecard-id');
            $.get('/get_total_score', { scorecard_id: scorecardId }, function(data) {
                var score = data.total_score;
                var scoreDisplay = 'E';
                if (score > 0) {
                    scoreDisplay = '+' + score;
                } else if (score < 0) {
                    scoreDisplay = score;
                }
                $('#score').text('(' + scoreDisplay + ')');
            });
        }
        updateScore();
        function changeHole(holeButton) {
            // Remove 'active' class from all hole buttons
            $('.hole-button').removeClass('active');
            // Add 'active' class to the clicked button
            $(holeButton).addClass('active');
        
            var holeNumber = $(holeButton).data('hole-number');
            var scorecardId = $('.throws').data('scorecard-id');
        
            // Update the 'data-hole-number' attribute of the '.throws' div
            $('.throws').data('hole-number', holeNumber);
            var courseId = $('.throws').data('course-id');
            $.get('/get_hole_info', { course_id: courseId, hole_number: holeNumber }, function(data) {
                // update hole number, distance, and par
                $('h3').text('Hole: ' + data.hole_number);
                $('.distance').html('<i class="fas fa-ruler"></i>Dist: ' + data.distance + ' m');
                $('.par').html('<i class="fas fa-flag"></i>Par: ' + data.par);
            });
      
          // Fetch the throw count for the selected hole from the server
            $.get('/get_throw_count', { scorecard_id: scorecardId, hole_number: holeNumber }, function(data) {
                if (data.result === 'failure') {
                    $('#throw-count').text('0'); // Set throw count to 0 if there is no entry in the ScorecardDetail table for the specified hole
                } else {
                    $('#throw-count').text(data.throw_count);
                }
            });
        }
        (function () {
            var holesContainer = document.getElementById('holes-container');
            var holes = document.querySelector('.holes');
            var isDown = false;
            var startX;
            var scrollLeft;
            if (holesContainer) { 
                holesContainer.addEventListener('mousedown', (e) => {
                    isDown = true;
                    startX = e.pageX;
                    scrollLeft = holes.scrollLeft;
                });
                holesContainer.addEventListener('mouseleave', () => {
                    isDown = false;
                });
                holesContainer.addEventListener('mouseup', () => {
                    isDown = false;
                });
                holesContainer.addEventListener('mousemove', (e) => {
                    if(!isDown) return;
                    e.preventDefault();
                    var x = e.pageX;
                    var walk = (x - startX) * 3; //scroll-fast
                    holes.scrollLeft = scrollLeft - walk;
                });
            }
        })();
    </script>
{% endblock %}
