{% extends "base.html" %}
{% block content %}
<div class="profile-container">
    <h2>{{ user.username }}</h2>
    <img src="{{ url_for('static', filename='images/' + (user.profile_pic if user.profile_pic else user.display_name + '.png')) }}" class="img-thumbnail profile-image">
    <form method="POST" enctype="multipart/form-data" class="profile-form">
        <div class="form-group">
            <label for="photo">Change Profile Picture</label>
            <input type="file" class="form-control-file" id="photo" name="photo">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <form method="POST" action="{{ url_for('search_users') }}">
        <input type="text" name="query" placeholder="Search for users" required>
        <button type="submit">Search</button>
    </form>
    <h3>Friends</h3>
    <ul>
        {% for friend in friends %}
        <li>{{ friend.username }}</li>
        {% endfor %}
    </ul>
    <h3>Friend Requests</h3>
    <ul>
        {% for request in friend_requests %}
        <li>
            {{ request.sender.username }} wants to be friends.
            <form method="POST" action="{{ url_for('accept_request', request_id=request.id) }}">
                <button type="submit">Accept</button>
            </form>
            <form method="POST" action="{{ url_for('decline_request', request_id=request.id) }}">
                <button type="submit">Decline</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a class="btn btn-danger mt-3" href="{{ url_for('logout') }}">Logout</a>
</div>
{% endblock %}

